<ul>
    <li><a href="{% url 'main' %}">Главная</a></li>
    <li><a href="{% url 'catalog' %}">Каталог</a></li>
    <li><a href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
    <ul>
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:users' %}">Административный сайт</a></li>
        {% endif %}
        <li><a href="{% url 'auth:profile' %}">{{ user.first_name|default:user.username }}</a></li>
        <li><a href="{% url 'libr:perslib' %}">Библиотека ({{ user_count }})</a></li>
        <li><a href="{% url 'auth:logout' %}">Выйти!</a></li>
        {% else %}
    <li><a href="{% url 'auth:login' %}">Войти</a></li>
    <li><a href="{% url 'auth:register' %}">Зарегистрироваться</a></li>
        {% endif %}
</ul>